<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>AngularJS</title>
	<script src="node_modules/angular/angular.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controller/MainController.js"></script>
	<script src="node_modules/angular-route/angular-route.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	
</head>

<body class="cuerpo" ng-app="myApp"> <!-- ng-app es una directiva que le dice a Angular que el modulo myApp va vivir dentro del body. -->
	<p>Angular...</p>


	<div class="list" ng-controller="MainController" >

		<h1> {{ title }} </h1>

		<div class="moviess" ng-repeat="movie in movies">
			<div> 
				<p id="titulo"> {{ movie.name }} </p>
				<img ng-src="{{ movie.img }}">
				<p id="año"> {{ movie.year }} </p>
				<p id="info"> {{ movie.about }} </p>
				<a ng-click="deleteMovies($index)"> Borrar </a>
				<a ng-click="viewDetails"> Detalles </a>
				<p> </p>
				
			</div>
		</div>

	</div>

</body>
</html> 
